In [2]:
import pandas as pd
import os

In [5]:
raw_temps = pd.read_csv("raw_data/water_temps_kok002.csv",header=2)

In [8]:
raw_temps[:10]

,Timestamp (UTC-08:00),Value (Celsius),Grade Code,Approval Level,Interpolation Type,Comment
0,2012-08-24 19:00:00,15.605,0,0,1,NaN
1,2012-08-24 20:00:00,15.509,0,0,1,NaN
2,2012-08-24 21:00:00,15.103,0,0,1,NaN
3,2012-08-24 22:00:00,14.721,0,0,1,NaN
4,2012-08-24 23:00:00,14.457,0,0,1,NaN
5,2012-08-25 00:00:00,14.194,0,0,1,NaN
6,2012-08-25 01:00:00,13.930,0,0,1,NaN
7,2012-08-25 02:00:00,13.714,0,0,1,NaN
8,2012-08-25 03:00:00,13.522,0,0,1,NaN
9,2012-08-25 04:00:00,13.329,0,0,1,NaN

In [10]:
raw_temps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25646 entries, 0 to 25645
Data columns (total 6 columns):
Timestamp (UTC-08:00)    25646 non-null object
Value (Celsius)          25479 non-null float64
Grade Code               25646 non-null int64
Approval Level           25646 non-null int64
Interpolation Type       25646 non-null int64
Comment                  0 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 1.2+ MB

In [11]:
dt = pd.to_datetime(raw_temps['Timestamp (UTC-08:00)'])

In [15]:
dt.head()

0   2012-08-24 19:00:00
1   2012-08-24 20:00:00
2   2012-08-24 21:00:00
3   2012-08-24 22:00:00
4   2012-08-24 23:00:00
Name: Timestamp (UTC-08:00), dtype: datetime64[ns]

In [17]:
temps = pd.DataFrame({'Timestamp':dt,'Temperature':raw_temps['Value (Celsius)']})

In [22]:
temps[-10:]

       Temperature           Timestamp
25636       16.892 2015-07-29 01:00:00
25637       16.654 2015-07-29 02:00:00
25638       16.439 2015-07-29 03:00:00
25639       16.225 2015-07-29 04:00:00
25640       16.034 2015-07-29 05:00:00
25641       15.891 2015-07-29 06:00:00
25642       15.748 2015-07-29 07:00:00
25643       15.676 2015-07-29 08:00:00
25644       15.748 2015-07-29 09:00:00
25645       15.867 2015-07-29 10:00:00

In [23]:
temps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25646 entries, 0 to 25645
Data columns (total 2 columns):
Temperature    25479 non-null float64
Timestamp      25646 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1)
memory usage: 400.8 KB