In [32]:
import pandas as pd
import numpy as np
from datetime import date, datetime

In [2]:
raw_temps = pd.read_csv("raw_data/water_temps_kok002.csv",header=2)

In [3]:
raw_temps[:10]

,Timestamp (UTC-08:00),Value (Celsius),Grade Code,Approval Level,Interpolation Type,Comment
0,2012-08-24 19:00:00,15.605,0,0,1,NaN
1,2012-08-24 20:00:00,15.509,0,0,1,NaN
2,2012-08-24 21:00:00,15.103,0,0,1,NaN
3,2012-08-24 22:00:00,14.721,0,0,1,NaN
4,2012-08-24 23:00:00,14.457,0,0,1,NaN
5,2012-08-25 00:00:00,14.194,0,0,1,NaN
6,2012-08-25 01:00:00,13.930,0,0,1,NaN
7,2012-08-25 02:00:00,13.714,0,0,1,NaN
8,2012-08-25 03:00:00,13.522,0,0,1,NaN
9,2012-08-25 04:00:00,13.329,0,0,1,NaN

In [4]:
raw_temps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25646 entries, 0 to 25645
Data columns (total 6 columns):
Timestamp (UTC-08:00)    25646 non-null object
Value (Celsius)          25479 non-null float64
Grade Code               25646 non-null int64
Approval Level           25646 non-null int64
Interpolation Type       25646 non-null int64
Comment                  0 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 1.2+ MB

In [5]:
dt = pd.to_datetime(raw_temps['Timestamp (UTC-08:00)'])

In [6]:
dt.head()

0   2012-08-24 19:00:00
1   2012-08-24 20:00:00
2   2012-08-24 21:00:00
3   2012-08-24 22:00:00
4   2012-08-24 23:00:00
Name: Timestamp (UTC-08:00), dtype: datetime64[ns]

In [7]:
temps = pd.DataFrame({'Timestamp':dt,'Temperature':raw_temps['Value (Celsius)']})

In [8]:
temps[-10:]

       Temperature           Timestamp
25636       16.892 2015-07-29 01:00:00
25637       16.654 2015-07-29 02:00:00
25638       16.439 2015-07-29 03:00:00
25639       16.225 2015-07-29 04:00:00
25640       16.034 2015-07-29 05:00:00
25641       15.891 2015-07-29 06:00:00
25642       15.748 2015-07-29 07:00:00
25643       15.676 2015-07-29 08:00:00
25644       15.748 2015-07-29 09:00:00
25645       15.867 2015-07-29 10:00:00

In [9]:
temps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25646 entries, 0 to 25645
Data columns (total 2 columns):
Temperature    25479 non-null float64
Timestamp      25646 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1)
memory usage: 400.8 KB

In [29]:
temps['year'] = temps['Timestamp'].apply(lambda x: x.year)
temps['month'] = temps['Timestamp'].apply(lambda x: x.month)
temps['day'] = temps['Timestamp'].apply(lambda x: x.day)
temps['time'] = temps['Timestamp'].apply(datetime.time)
temps['date'] = temps['Timestamp'].apply(datetime.date)

In [43]:
mean_temp = temps.groupby(['date']).mean()['Temperature']
var_temp = temps.groupby(['date']).var()['Temperature']

per_day = pd.DataFrame({'Mean':mean_temp,'Variance':var_temp})

In [44]:
per_day

                 Mean  Variance
date
2012-08-24  15.079000  0.244300
2012-08-25  14.101458  1.294704
2012-08-26  14.292250  0.259181
2012-08-27  14.023250  0.391815
2012-08-28  14.065958  0.473538
2012-08-29  14.209208  0.293019
2012-08-30  13.654875  0.433660
2012-08-31  13.148417  0.528585
2012-09-01  13.086542  0.822703
2012-09-02  13.419625  0.797843
2012-09-03  13.598750  0.891941
2012-09-04  13.816000  0.948553
2012-09-05  14.094500  0.731294
2012-09-06  14.252250  0.799052
2012-09-07  14.122750  1.103005
2012-09-08  14.394833  0.897244
2012-09-09  14.282458  0.147744
2012-09-10  13.124833  0.342676
2012-09-11  11.654250  0.459268
2012-09-12  10.872833  0.855496
2012-09-13  11.100042  1.019241
2012-09-14  11.685208  0.977770
2012-09-15  12.377667  0.696110
2012-09-16  12.506458  0.727719
2012-09-17  12.694833  0.742460
2012-09-18  12.862708  0.729263
2012-09-19  13.090000  0.613929
2012-09-20  13.196250  0.648301
2012-09-21  13.188917  0.373141
2012-09-22  13.195333  0.177253
...               ...       ...
2015-06-30  20.343375  1.801479
2015-07-01  20.191042  2.572582
2015-07-02  20.645375  2.855736
2015-07-03  21.031292  2.184078
2015-07-04  20.726042  2.067587
2015-07-05  19.604250  0.648683
2015-07-06  18.701375  1.239945
2015-07-07  18.904833  2.063053
2015-07-08  19.544750  2.316046
2015-07-09  20.400625  2.546658
2015-07-10  19.896625  1.773954
2015-07-11  18.382167  0.101496
2015-07-12  17.481417  0.229207
2015-07-13  17.420792  0.760418
2015-07-14  17.367000  1.114087
2015-07-15  17.500750  1.783826
2015-07-16  17.626625  1.807183
2015-07-17  17.831958  2.949290
2015-07-18  18.810083  3.544830
2015-07-19  20.021667  3.035642
2015-07-20  19.766292  1.186298
2015-07-21  18.610167  1.074087
2015-07-22  17.401750  0.879955
2015-07-23  17.101167  1.223450
2015-07-24  16.515375  0.320052
2015-07-25  16.231292  0.446936
2015-07-26  15.704667  0.344562
2015-07-27  15.434792  0.684390
2015-07-28  16.264125  2.878884
2015-07-29  16.213727  0.261229

[1070 rows x 2 columns]